@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
		
stuff {
  justify-content: center;
}

* {
  background-color: black;
  font-family: 'Poppins';
  display: grid;
}

h1 {
  text-align: center;
  font-size: 95px;
  color: #fff;
  transition: 0.3s;
}

h1:hover {
  font-size: 100px;
  color: #6900d1;
}